# 生成物・一時ファイル
gen/
gen_rb/
gen_py/
gen_rb.norm/
gen_py.norm/
*.out
*.err
*.out.norm
*.err.norm
__pycache__/
*.pyc
*.pyo
*~
*.o
*.exe
*.stackdump
tecsgen.timestamp
tecsgen.timestamp.*
tecs.timestamp*
# テスト実行の生成物
test/**/gen/
test/**/gen.RAM/
test/**/gen.RAMONLY
test/**/gen.ROM*/
test/**/gen-ramonly/
test/**/gen-raminitializer/
test/**/gen_rec_comp*/
test/**/gen.rb/
test/**/gen-r/
test/**/gen-ram-initializer/
test/**/gen-?/
test/**/gen-array*/
test/**/gen-single*/
test/**/gen2/
test/merge/src/*.c_*
test/result*.txt
test/coverage/
test/coverage.data
